<!DOCTYPE html>
<html lang="en">
<head>
  <title>Chatter</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
           <h2>Chatter</h2>
          </div>
          
        </div>
      </nav>
    
<div class="container">
  <div class="row">
    <div class="col-md-12">
    <span>
        <form action="{% url 'post-message' %}" method="post">
          <div id="csrf_token">
            {% csrf_token %}
          </div>
           
            <div class="col-xs-3">
                <input class="form-control" id="message" type="text" name="message" required=True>
              </div>
            
            <button type="submit" class="btn">Post</button>
             <a id="deleteAllModal" class="btn btn-primary" data-toggle="modal" value="test" data-target="#myModal" data-message_id={{message.pk}}>
              Delete All Msg
           </a>
            
        </form>
    </span>
    
     
    </div>
   
    
  </div>
  <div class="row">
  </br>
    <div class="col-md-6">
    <ul class="list-group">
        <i class='far fa-comment'></i>
        {% for message in message_list %}
        <hr>
        <span>
       <span class="glyphicon glyphicon-comment" id="{{message.pk}}"></span> - <b> anonymous </b> - {{message.time}}  <a id="deleteModal" class="btn btn-primary" data-toggle="modal" value="test" data-target="#myModal" data-message_id={{message.pk}}>
            Delete
         </a></span>
        <h4><small>{{message.text}}</small></h4>
        
        {% endfor %}
      </ul>
      </div>    
  </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete message</h4>
        </div>
        <div class="modal-body">
         
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  <script>
      $(document).ready(function() {

            $(function () {
                $('#deleteModal').on('click', function (event) {
                    event.preventDefault();
                    var message_id =  $(this)[0].dataset.message_id
                    
                    var csrf_token = $("#csrf_token")[0].innerHTML
                    var form =  '<form id="deleteMessageModal"  method="post" action="/chatter/chat-board/delete/'+message_id+'/"'+'/>' +csrf_token+'<input class="form-control" type="text" id="token" name="token" required=True>' +'<br><button class="btn btn-primary" type="submit">Delete</button></form>'
                   
                   
                    $(".modal-body").html(form);
                  
                    
                    
                });

                $('#deleteAllModal').on('click', function (event) {
                    event.preventDefault();
                
                    var csrf_token = $("#csrf_token")[0].innerHTML
                    var form =  '<form id="deleteMessageModal" method="post" action="/chatter/chat-board/delete-all-message/"'+'/>' +csrf_token+'<input class="form-control" type="text" id="token" name="token" required=True>' +'<br><button class="btn btn-primary" type="submit">Delete All</button></form>'
                   
                   
                    $(".modal-body").html(form);
                    
                    
                });

            });
      })
        

  </script>
</body>
</html>
